body{
    background-color: #080f70e5;
    background-image: url(img/logo.png);
    background-size: cover; 
  }
  hr{
   background-color: black;
  }
  .titulo{
    font-size: 5rem;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px rgb(11, 9, 107), 2px 2px 1px rgba(255, 255, 255, 0.699);
    text-align: center;
  }