@{
    ViewData["Title"] = "Home Page";
}

<html lang="PT-br">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <a class="titulo">Word Tech Store</a></title>
    <link rel="stylesheet" href="css/Index.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
</head>

<body>
    <h1><a class="titulo">Apresentamos a você a Word Tech Store!</a></h1>
    <p> </p>
    <hr>
    <h1>Uma empresa fundada por 5 amigos que adoram a tecnologia,na qual vendem produtos tecnologicos desde a 
    acessórios de celular até componentes para montagem do seu pc gamer!</h1>
    <h2>Entre em contato pelo nosso WhatsApp e verifique as promoções!</h2>
    <a href="https://api.whatsapp.com/send?phone=5521995455821&text=Ol%C3%A1!%20Estou%20interessado%2C%20pode%20me%20ajudar%3F"> <center><img width="50" height="50" src="https://logodownload.org/wp-content/uploads/2015/04/whatsapp-logo-1.png" class="media-object  img-responsive img-thumbnail"></center></a>
</body>

</html>
