@{
  ViewData["Title"] = "Produtos";
}
<html lang="PT-br">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <style type="text/css">
body{
  background-color: #101ee075;
}
.titulo{
font-size: 5rem;
color: whitesmoke;
}
 hr{
  background-color: black;
}

</style>

</head>
    <body>
        <h1><center>Word Tech Store</center></h1> 
        <p> </p>
        <hr>
        <h2><center>Fone Bluetooth Gaming TWS 5.0 Earbuds Altomex - A-607</center></h2>
        <center><img width="400" height="400" src="https://www.mirao.com.br/media/catalog/product/cache/97a664217948b8375342e86c7b969be4/1/0/10787_1.jpg" alt="Imagem Fone Bluetooth"><img></center>
        <h1><center>R$ 59,99</center></h1>
        <p></p>
        <h2><center>Relógio esportivo inteligente com conexão Bluetooth à prova d'água com controle de frequência cardíaca</center></h2>
        <center><img width="400" height="400" src="https://cf.shopee.com.br/file/1c1fc1b3e730f1a08ee4079e9729c2b0" alt="Imagem Fone Relogio inteligente"><img></center>
        <h1><center>R$ 99,99</center></h1>
        <p></p>
        <h2><center>Cabo Carregador Magnético 3 Em 1 Micro Usb V8 Type C iPhone</center></h2>
        <center><img width="400" height="400" src="https://cf.shopee.com.br/file/e7f4811819772dd3d56bcd6fba469e64" alt="Imagem Cabo Carregador"><img></center>
        <h1><center>R$ 29,99</center></h1>
        <p></p>
        <h2><center>HD Seagate Barracuda 1TB, Sata III, 7200RPM, 64MB, ST1000DM010</center></h2>
        <center><img width="400" height="400" src="https://img.terabyteshop.com.br/produto/g/hd-seagate-barracuda-st1000dm010-1tb-7200rpm-64mb-sata-iii_36317.jpg" alt="Imagem HD 1T"><img></center>
        <h1><center>R$ 199,99</center></h1>
        <p></p>
        <h2><center>Memória RAM 8GB DDR4 HyperX Fury - 2666Mhz com Dissipador</center></h2>
        <center><img width="400" height="400" src="https://a-static.mlcdn.com.br/1500x1500/memoria-ram-8gb-ddr4-hyperx-fury-2666mhz-com-dissipador/magazineluiza/230331500/43597b65efc9648ca7ab10167120eed6.jpg" alt="Imagem Memória RAM"><img></center>
        <h1><center>R$ 299,99</center></h1>
        <p></p>
        <h2><center>PLACA MAE GIGABYTE B550M AORUS ELITE DDR4 SOCKET AM4 CHIPSET AMD B550</center></h2>
        <center><img width="400" height="400" src="https://images.kabum.com.br/produtos/fotos/114781/placa-mae-gigabyte-b550m-aorus-elite-amd-am4-micro-atx-ddr4_1594908595_original.jpg" alt="Imagem Placa Mãe"><img></center>
        <h1><center>R$ 999,99</center></h1>
        <p></p>
        <h2><center>Redragon h510 zeus 2 wired jogo fone de ouvido 7.1 surround soun rosa microfone removível para pc/ps4 xbox</center></h2>
        <center><img width="400" height="400" src="https://ae01.alicdn.com/kf/H82760cd8d59c4b079dc8d110391130714/Redragon-h510-zeus-2-wired-jogo-fone-de-ouvido-7-1-surround-soun-rosa-microfone-remov.jpg_Q90.jpg_.webp" alt="Imagem Headset Redragon"><img></center>
        <h1><center>R$ 249,99</center></h1>
        <p></p>
        <h2><center>Redragon k617 wired rgb teclado mecânico para jogos linear Rosa </center></h2>
        <center><img width="400" height="400" src="https://ae01.alicdn.com/kf/Se189f0d4609549d2a66ad4e5c4b7e112s/Redragon-k617-wired-rgb-teclado-mec-nico-para-jogos-linear-interruptor-vermelho-61-chaves-design-compacto.jpg_Q90.jpg_.webp" alt="Imagem Teclado Redragon"><img></center>
        <h1><center>R$ 449,99</center></h1>
        <p></p>
        <h2><center>Fifine ampligame microfone usb para streaming de jogos com filtro pop montagem de choque & controle de ganho, microfone condensador para computador portátil/computador</center></h2>
        <center><img width="400" height="400" src="https://ae01.alicdn.com/kf/Sb0bd423e272143ddbe205cb25b02b82cn/Fifine-ampligame-microfone-usb-para-streaming-de-jogos-com-filtro-pop-montagem-de-choque-controle-de.jpg_640x640.jpg" alt="Imagem microfone"><img></center>
        <h1><center>R$ 299,99</center></h1>
        <p></p>
        <h2><center>27 polegada 165hz 1800r curvado monitor 144hz computador gaming monitor cor-de-rosa menina gamer desktop tela 1ms com design de orelha de gato</center></h2>
        <center><img width="400" height="400" src="https://ae01.alicdn.com/kf/Sdbd535aebe4740e09590fa121b2f25c7P/27-polegada-165hz-1800r-curvado-monitor-144hz-computador-gaming-monitor-cor-de-rosa-menina-gamer-desktop.jpg_Q90.jpg_.webp" alt="Imagem monitor"><img></center>
        <h1><center>R$ 1.899,99</center></h1>
        <p></p>
        <h2><center>Gabinete de computador born para esportes eletrônicos, vidro temperado + painéis rgb Rosa</center></h2>
        <center><img width="400" height="400" src="https://ae01.alicdn.com/kf/Sfe8412eced8d4c6394465c197a5aac02g/Capa-para-pc-gamer-240-para-itx-wireless-gabinete-de-computador-born-para-esportes-eletr-nicos.jpg_640x640.jpg" alt="Imagem Gabinete"><img></center>
        <h1><center>R$ 949,99</center></h1>
        <p></p>
        <h2><center> Mouse Para Computador Portátil PC Gamer Rato Silencioso Rosa</center></h2>
        <center><img width="400" height="400" src="https://ae01.alicdn.com/kf/S9774af26317746f5926b163be7044f50W/Fio-de-Jogo-Do-Rato-Silencioso-Mause-Ergon-mico-4-Chaves-Retroiluminado-Mini-Magic-Mouse-Para.jpg_640x640.jpg" alt="Imagem Mouse"><img></center>
        <h1><center>R$ 99,99</center></h1>
        <p></p>
    </body>
</html>