@{
  ViewData["Title"] = "Quem Somos";
}
<html lang="PT-br">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <title><a class="titulo">Quem Somos</a></title>
     <style type="text/css">
body{
  background-color: #1774ff5e;
}
hr{
  background-color: black;
}
</style>

</head>
    
    
    <body>
        <h1><center>Word Tech Store</center></h1>
        <p> </p>
        <hr>
        <h1><center>-Quem somos?</center></h1>
        <h3><center>Somos a Word Tech Store, fundada por 5 amigos que adoram a tecnologia. Vendemos vários tipos de acessórios tecnológicos, desde apetrechos de celular até componentes 
            para montagem do seu pc gamer! Nós começamos em maio de 2022, estamos localizados no Rio de Janeiro. Ainda não temos loja física, porém estamos planejando o melhor para os 
            nossos clientes e em breve abriremos nossa loja física. Nossos itens são originais e da melhor qualidade, melhor custo benéfico e frete grátis para alguns lugares. Nosso 
            objetivo é oferecer para você os melhores acessórios e componentes tecnológicos, nós abrimos esta empresa com o objetivo de levar o melhor para nossos clientes, além de amar 
            tecnologia nós também somos apaixonados pelo mundo geek.</center></h3>
    </body>
</html>