@{
  ViewData["Title"] = "Serviços";
}

<html lang="PT-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <style type="text/css">
body{
  background-color: #1231bb4b;
}
h1{
  font-size: 5rem;
  color: black;
}
h2{
  font-size: 2rem;
  color: rgb(7, 1, 1);
}

hr{
  background-color: black;
}

</style>
</head>
<body>
    
    <div>
        <h1><center>Word Tech Store</center></h1> 
        <p> </p>
        <hr>
        <h1><center>Serviços</center></h1>
        <h2><center>Nosso Objetivo é levar os melhores produtos tecnológicos para você ai na sua casa e no seu conforto, com facilidade, qualidade e rapidez.
            Tentaremos realizar a entrega o mais rápido possível, pois a maioria dos itens vendidos em nossa loja é de extrema urgência!
            </center></h2>
    </div>
      </body>  
</html>